services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: cryptogeeks_frontend_dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    restart: unless-stopped
