services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cryptogeeks_frontend
    ports:
      - "8080:80"
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true
    name: proxy
