services:
  frontend:
    image: nginx:alpine
    container_name: cryptogeeks_frontend
    volumes:
      - ./site:/usr/share/nginx/html:ro
    expose:
      - "80"
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true
    name: proxy
