@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";

button {
    border: 1px solid grey;
    padding: .2rem .5rem;
    border-radius: 0.25rem;
    background-color: #f0f0f0;
    cursor: pointer;
}